
.Game {
    text-align: center;
    position: relative; 
  }

.Game .game {
    position: relative;
    min-height: 100vh;
    z-index:1;
    margin: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    font-size: calc(1px + 3vmin);
  }

  #elem{
    margin-bottom:'30px';
  }