Timer{
    position: relative;
    min-height: 100vh;
    z-index:1;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1px + 3vmin);
    padding-bottom: 5em
  }