.App {
  text-align: center;
  position: relative; 
}

.App .main {
  position: relative;
  min-height: 100vh;
  z-index:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 3vmin);
  color: rgb(168, 53, 53);
}

.App .particles-js {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -10;
}

#particles-js {
  position : absolute;
  width:100%;
  height:100%;
  z-index:-1;
}


.App-link {
  color: #61dafb;
}

button {
  display: inline-block;
  padding: 1em 2em;
  background: 	#FF6961;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 700;
  border: none;
  padding: .5em 2em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
}

span {
  z-index: 1;
  position: relative;
}

.glance {
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateY(50%);
}